<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasure Hunt</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            text-align: center;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div>
        <!--  Why don't you go to /Find directory may be you find some tressure -->
        <h1>You might want to check<br>Find may you get treasure</h1>
        <img src="https://media1.tenor.com/m/SotyprIrSiIAAAAC/kyu-kya-hui-chatur-silencer.gif" alt="Treasure Map" width="300">
    </div>
</body>
</html>
